<!DOCTYPE html>
<html lang="en" encoding="UTF-8">
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta http-equiv="cleartype" content="on">
    <meta name="format-detection" content="telephone=no">
  </head>

  <body>
    <div id="root"></div>

    <!-- Include Phaser from a CDN if running in production. -->
    <% if (htmlWebpackPlugin.options.isProd) { %>
      <script src="unpkg.com/phaser@3.9.0/dist/phaser.min.js"></script>
    <% } %>
  </body>
</html>
